<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">
	<internalLogLevel>Trace</internalLogLevel>
	<internalLogFile>D:\C# programming\Logs\authentication_log.json</internalLogFile>

	<!-- Cấu hình mức độ log -->
	<targets>
		<!-- Cấu hình ghi log vào file JSON -->
		<target xsi:type="File" name="jsonFile"
				fileName="D:\C# programming\Logs\authentication_log.json"
				layout="{ 'timestamp': '${longdate}', 'level': '${uppercase:${level}}', 'message': '${message}', 'exception': '${exception:tostring}', 'properties': ${all-event-properties:format=[${key}=${value}]} }"
				keepFileOpen="false"
				encoding="utf-8"
				concurrentWrites="true"
				archiveEvery="Day"
				archiveFileName="logs/log.{#}.json"
				maxArchiveFiles="7" />
	</targets>

	<!-- Cấu hình rule để kiểm soát log -->
	<rules>
		<logger name="*" minlevel="Debug" writeTo="jsonFile" />
	</rules>
</nlog>